body, html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
  /*background-color:rgb(251,251,249);*/
  width: 100%;
  flex-direction: column;
  display: flex;
  flex-wrap: none;
  height: 100%;
}

#root {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/*
.App::after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}
*/

.App-header .App-body-main {
  background-color: rgb(251,251,249);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-width: 100%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

img {
  display: inline-block;
  color: transparent;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}

/* ##################### HEADER ##################### */

#header {
  width: 100%;
  position: top;
  z-index: 9999;
  max-width: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

.header-med-up {
  height: 60px;
  min-height: 60px!important;
  max-width: 960px;
  margin: 0 auto;
}

.header-med-up .header-up-outer {
  height: 100%;
  position: relative;
}

.header-up-inner {
  height: 100%;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.up-name-logo {
  height: 100%;
  position: relative;
  float: left;
  width: 149px;
  font-size: calc(0px + 2vmin);
  padding: 10px 20px;
  color: rgb(246, 244, 239);
}

.mid-nav-wrap {
  height: 100%;
  position: relative;
  float: right;
  margin: 0;
  width: auto;
}

.header-nav-link {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  font-size: calc(0px + 2vmin);
  color: #1C4B39;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

#responsive-navbar-nav {
  text-align: right;
}

/* ##################### BODY ##################### */

body {
  height: 100%;
  width: 100%;
}

#App-body-main {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.home #background-image-container #background-image-ancientTree {
  display: none;
}

.body-main-inner-fullName {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-text-container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  font-family: "Open Sans";
}

/* ##################### IMAGES ##################### */

#background-image-container {
  display: flex;
  flex-direction: column;
}

#background-image-container #ancientTree {
  display: none;
}

#background-image-birdsFlying {
  display: inline-flex;
  position: relative;
  z-index: 2;
}

#background-image-birdsFlying img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

#professional-image-1 {
  background-size: cover;
  max-width: 100%;
  height: auto;
  position: relative;
}

@media only screen and (max-width: 1080px) {
  #background-image-birdsFlying {
    display: none;
  }
}

#background-image-ensoEcosystem {
  display: none;
}
  

#background-image-ensoEcosystem img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  flex: 1;
}

@media only screen and (max-width: 1080px) {
  #background-image-ensoEcosystem {
    display: inline-flex;
    position: relative;
    z-index: 2;
  }
  .body-main-inner-fullName {
    max-width: 960px;
    margin: 0 auto;
    z-index: 5;
    display: inline-block;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .body-main-inner-fullName {
    display: none;
  }
}

/* ##################### ABOUT ##################### */

#about-main-container {
  background-image: url('./images/ancientTreeBwWithTheWind.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  justify-content: center;
}

.about-body-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 20px;
  padding: 5px;
}

.personal-quote-container {
  position: relative;
}

.personal-quote-container div p{
  margin: 5px;
  color: rgb(232, 240, 204);
  display: inline-block;
}

.personal-image-container div {
  float: right;
  margin-right: 20px;
}

.about-image-text {
  position: left;
  flex-grow: 2;
  color: rgb(232, 240, 204);
}

.personal-image-container {
  flex-grow: 1;
}

@media only screen and (max-width: 1080px) {
  #professional-image-1 {
    position: relative;
    min-width: 50%;
    margin: 0;
  }
  .about-body-inner-container {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* ##################### FOOTER ##################### */

#footer-main-container {
  display: flex;
  bottom: 0;
  background-color: rgb(251,251,249);
}

.footer-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: space-around;
  width: calc(33.333% - 20px);
  margin-left: 20px;
  padding: 5px;
  align-content: center;
}

.info-personal-container {
  position: left;
}

.info-personal p{
  margin: 0;
  color: rgb(59, 4, 4);
}

.social-media-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: inherit;
}

.social-media-link a{
  margin: 5px;
  padding: 2px;
  justify-content: space-around;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #FD1D1D;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-linkedin {
  background: #007BB5;
  color: white;
}
