.App {
  text-align: center;
  background-color:rgb(251,251,249);
  width: 100%;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 100%;
  pointer-events: none;
}

.App-header .App-body-main {
  background-color: rgb(251,251,249);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-width: 100%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  display: inline-block;
  color: transparent;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}

/* ##################### HEADER ##################### */

#header {
  width: 100%;
  position: top;
  z-index: 9999;
  max-width: none;
  background-color: rgb(192, 190, 182);
}

.header-med-up {
  height: 60px;
  min-height: 60px!important;
  max-width: 960px;
  margin: 0 auto;
}

.header-med-up .header-up-outer {
  height: 100%;
  position: relative;
}

.header-up-inner {
  height: 100%;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.up-name-logo {
  height: 100%;
  position: relative;
  float: left;
  width: 149px;
  font-size: calc(0px + 2vmin);
  padding: 10px 20px;
  color: rgb(246, 244, 239);
}

.mid-nav-wrap {
  height: 100%;
  position: relative;
  float: right;
  margin: 0;
  width: auto;
}

.header-nav-link {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  font-size: calc(0px + 2vmin);
  color: #1C4B39;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

.header-nav-link:hover {
  text-decoration: underline;
}

/* ##################### BODY ##################### */

body {
  height: 100%;
  width: 100%;
}

#App-body-main {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.body-main-inner {
  max-width: 960px;
  margin: 0 auto;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 50px;
  left: 50px;
}

.personal-text-container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  font-family: "Open Sans";
}

.personal-quote-container {
  display: relative;
  position: absolute;
  z-index: 6;
}

#home-background-image-main {
  display: inline-flex;
  position: relative;
  z-index: 2;
}

#home-background-image-main img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

/* ##################### FOOTER ##################### */

#footer {
  position: relative;
  z-index: 10;
  flex-grow: 1;
}