html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
  /*background-color:rgb(251,251,249);*/
  width: 100%;
  flex-direction: column;
  display: flex;
  height: 100%;
  min-height: 100vh;
}

/*
.App::after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}
*/

.App-header .App-body-main {
  background-color: rgb(251,251,249);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-width: 100%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

img {
  display: inline-block;
  color: transparent;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}

/* ##################### HEADER ##################### */

#header {
  width: 100%;
  position: top;
  z-index: 9999;
  max-width: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

.header-med-up {
  height: 60px;
  min-height: 60px!important;
  max-width: 960px;
  margin: 0 auto;
}

.header-med-up .header-up-outer {
  height: 100%;
  position: relative;
}

.header-up-inner {
  height: 100%;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.up-name-logo {
  height: 100%;
  position: relative;
  float: left;
  width: 149px;
  font-size: calc(0px + 2vmin);
  padding: 10px 20px;
  color: rgb(246, 244, 239);
}

.mid-nav-wrap {
  height: 100%;
  position: relative;
  float: right;
  margin: 0;
  width: auto;
}

.header-nav-link {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  font-size: calc(0px + 2vmin);
  color: #1C4B39;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

.header-nav-link:hover {
  text-decoration: underline;
}

/* ##################### BODY ##################### */

body {
  height: 100%;
  width: 100%;
}

#App-body-main {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-main-inner-fullName {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-text-container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  font-family: "Open Sans";
}

#home-background-image-container {
  display: flex;
  flex-direction: column;
}

#home-background-image-birdsFlying {
  display: inline-flex;
  position: relative;
  z-index: 2;
}

#home-background-image-birdsFlying img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

@media only screen and (max-width: 1080px) {
  #home-background-image-birdsFlying {
    display: none;
  }
}

#home-background-image-ensoEcosystem {
  display: none;
}
  

#home-background-image-ensoEcosystem img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  flex: 1;
}

@media only screen and (max-width: 1080px) {
  #home-background-image-ensoEcosystem {
    display: inline-flex;
    position: relative;
    z-index: 2;
  }
  .body-main-inner-fullName {
    max-width: 960px;
    margin: 0 auto;
    z-index: 5;
    display: inline-block;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .body-main-inner-fullName {
    display: none;
  }
}

/* ##################### ABOUT ##################### */

.personal-quote-container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  font-family: "Open Sans";
}

#about-background-image-main {
  display: inline-flex;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#about-background-image-main img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

/* ##################### FOOTER ##################### */

#footer-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer {
  display: inline-block;
  position: fixed;
  justify-content: center;
  bottom: 0;
  color: rgb(0, 0, 0);
}